<style type="text/css">
#T_880a6_row0_col0, #T_880a6_row0_col1, #T_880a6_row0_col2, #T_880a6_row0_col3, #T_880a6_row0_col4, #T_880a6_row0_col5, #T_880a6_row0_col6, #T_880a6_row0_col7, #T_880a6_row1_col0, #T_880a6_row1_col1, #T_880a6_row1_col2, #T_880a6_row1_col3, #T_880a6_row1_col4, #T_880a6_row1_col5, #T_880a6_row1_col6, #T_880a6_row1_col7, #T_880a6_row2_col0, #T_880a6_row2_col1, #T_880a6_row2_col2, #T_880a6_row2_col3, #T_880a6_row2_col4, #T_880a6_row2_col5, #T_880a6_row2_col6, #T_880a6_row2_col7, #T_880a6_row3_col0, #T_880a6_row3_col1, #T_880a6_row3_col2, #T_880a6_row3_col3, #T_880a6_row3_col4, #T_880a6_row3_col5, #T_880a6_row3_col6, #T_880a6_row3_col7, #T_880a6_row4_col0, #T_880a6_row4_col1, #T_880a6_row4_col2, #T_880a6_row4_col3, #T_880a6_row4_col4, #T_880a6_row4_col5, #T_880a6_row4_col6, #T_880a6_row4_col7 {
  text-align: center;
}
</style>
<table id="T_880a6">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_880a6_level0_col0" class="col_heading level0 col0" >author</th>
      <th id="T_880a6_level0_col1" class="col_heading level0 col1" >title</th>
      <th id="T_880a6_level0_col2" class="col_heading level0 col2" >description</th>
      <th id="T_880a6_level0_col3" class="col_heading level0 col3" >url</th>
      <th id="T_880a6_level0_col4" class="col_heading level0 col4" >publishedAt</th>
      <th id="T_880a6_level0_col5" class="col_heading level0 col5" >content</th>
      <th id="T_880a6_level0_col6" class="col_heading level0 col6" >source_name</th>
      <th id="T_880a6_level0_col7" class="col_heading level0 col7" >sentiment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_880a6_level0_row0" class="row_heading level0 row0" >0</th>
      <td id="T_880a6_row0_col0" class="data row0 col0" >Lalmani Verma</td>
      <td id="T_880a6_row0_col1" class="data row0 col1" >Credit for Ram Mandir not one person’s. It goes to swayamsevaks … L K Advani had a huge role: Vinay Katiyar</td>
      <td id="T_880a6_row0_col2" class="data row0 col2" >Former MP and Bajrang Dal founder says the temple will have no effect in polls: "It is not political"; adds, "The issues of Mathura and Kashi will be considered after that, but won't leave them”</td>
      <td id="T_880a6_row0_col3" class="data row0 col3" ><a href=https://indianexpress.com/article/political-pulse/ram-mandir-lk-advani-vinay-katiyar-9095293/ target="_blank"> Link </a></td>
      <td id="T_880a6_row0_col4" class="data row0 col4" >2024-01-04 00:00:00</td>
      <td id="T_880a6_row0_col5" class="data row0 col5" >Firebrand BJP leader and Bajrang Dal founder Vinay Katiyar, 69, was a part of the Ram Mandir movement. Katiyar spoke to The Indian Express at his home in Lucknow, looking back at the movement, the co…</td>
      <td id="T_880a6_row0_col6" class="data row0 col6" >The Indian Express</td>
      <td id="T_880a6_row0_col7" class="data row0 col7" >Positive</td>
    </tr>
    <tr>
      <th id="T_880a6_level0_row1" class="row_heading level0 row1" >1</th>
      <td id="T_880a6_row1_col0" class="data row1 col0" >Shashi Tharoor</td>
      <td id="T_880a6_row1_col1" class="data row1 col1" >India’s Hindu “Emperor” Wants a Third Term</td>
      <td id="T_880a6_row1_col2" class="data row1 col2" >Indian Prime Minister Narendra Modi was portrayed as an avatar of economic development in the 2014 election campaign, and a national-security warrior in 2019. But both of those narratives have collapsed, so the ruling Bharatiya Janata Party has returned to ba…</td>
      <td id="T_880a6_row1_col3" class="data row1 col3" ><a href=https://www.project-syndicate.org/commentary/india-2024-election-bjp-focus-on-modi-hindu-nationalist-credentials-by-shashi-tharoor-2024-01 target="_blank"> Link </a></td>
      <td id="T_880a6_row1_col4" class="data row1 col4" >2024-01-05 00:00:00</td>
      <td id="T_880a6_row1_col5" class="data row1 col5" >Indian Prime Minister Narendra Modi was portrayed as an avatar of economic development in the 2014 election campaign, and a national-security warrior in 2019. But both of those narratives have collap…</td>
      <td id="T_880a6_row1_col6" class="data row1 col6" >Project Syndicate</td>
      <td id="T_880a6_row1_col7" class="data row1 col7" >Positive</td>
    </tr>
    <tr>
      <th id="T_880a6_level0_row2" class="row_heading level0 row2" >2</th>
      <td id="T_880a6_row2_col0" class="data row2 col0" >Maryam Farooqui</td>
      <td id="T_880a6_row2_col1" class="data row2 col1" >Travel demand, hotel bookings surge in Ayodhya ahead of Ram temple inauguration</td>
      <td id="T_880a6_row2_col2" class="data row2 col2" >Along with Varanasi, Ayodhya is seeing an increase of close to 5x more searches for check-in on January 20, 21, and 22, 2024 as compared to the year before, according to data by Agoda</td>
      <td id="T_880a6_row2_col3" class="data row2 col3" ><a href=https://www.moneycontrol.com/news/trends/travel/travel-demand-hotel-bookings-surge-in-ayodhya-ahead-of-ram-temple-inauguration-12003961.html target="_blank"> Link </a></td>
      <td id="T_880a6_row2_col4" class="data row2 col4" >2024-01-05 00:00:00</td>
      <td id="T_880a6_row2_col5" class="data row2 col5" >Ayodhya has recorded a 3x surge in searches on the travel platform Agoda ahead of the Ram temple inauguration.
Along with Varanasi, Ayodhya is seeing an increase of close to 5x more searches for che…</td>
      <td id="T_880a6_row2_col6" class="data row2 col6" >Moneycontrol</td>
      <td id="T_880a6_row2_col7" class="data row2 col7" >Positive</td>
    </tr>
    <tr>
      <th id="T_880a6_level0_row3" class="row_heading level0 row3" >3</th>
      <td id="T_880a6_row3_col0" class="data row3 col0" >PTI</td>
      <td id="T_880a6_row3_col1" class="data row3 col1" >Worshipping cow means worshipping 33 crore gods, says MP CM</td>
      <td id="T_880a6_row3_col2" class="data row3 col2" >He was on a visit to Gwalior, where he inaugurated a trade fair.</td>
      <td id="T_880a6_row3_col3" class="data row3 col3" ><a href=https://indianexpress.com/article/india/worshipping-cow-means-worshipping-33-crore-gods-says-mp-cm-9095556/ target="_blank"> Link </a></td>
      <td id="T_880a6_row3_col4" class="data row3 col4" >2024-01-04 00:00:00</td>
      <td id="T_880a6_row3_col5" class="data row3 col5" >Worshipping a cow is equivalent to praying to 33 crore gods, Madhya Pradesh Chief Minister Mohan Yadav said on Thursday. He was on a visit to Gwalior, where he inaugurated a trade fair.
“Fair cultur…</td>
      <td id="T_880a6_row3_col6" class="data row3 col6" >The Indian Express</td>
      <td id="T_880a6_row3_col7" class="data row3 col7" >Positive</td>
    </tr>
    <tr>
      <th id="T_880a6_level0_row4" class="row_heading level0 row4" >4</th>
      <td id="T_880a6_row4_col0" class="data row4 col0" >Sanath Prasad</td>
      <td id="T_880a6_row4_col1" class="data row4 col1" >Will urge US Ambassador to open consulate in Bangalore soon: EAM S Jaishankar</td>
      <td id="T_880a6_row4_col2" class="data row4 col2" >During PM Modi’s visit to the US in June 2023, it was announced that the US would open two new consulates in Bengaluru and Ahmedabad, while India would establish a mission in Seattle.</td>
      <td id="T_880a6_row4_col3" class="data row4 col3" ><a href=https://indianexpress.com/article/cities/bangalore/jaishankar-us-ambassador-bangalore-consulate-9097162/ target="_blank"> Link </a></td>
      <td id="T_880a6_row4_col4" class="data row4 col4" >2024-01-05 00:00:00</td>
      <td id="T_880a6_row4_col5" class="data row4 col5" >External Affairs Minister S Jaishankar on Friday said he will urge the US Ambassador to India to set up a consulate in Bengaluru soon. Jaishankar made the remark while speaking at the launch event of…</td>
      <td id="T_880a6_row4_col6" class="data row4 col6" >The Indian Express</td>
      <td id="T_880a6_row4_col7" class="data row4 col7" >Positive</td>
    </tr>
  </tbody>
</table>
