<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Credit for Ram Mandir not one person’s. It goes to swayamsevaks … L K Advani had a huge role: Vinay Katiyar</td>
      <td>&lt;a href="https://indianexpress.com/article/political-pulse/ram-mandir-lk-advani-vinay-katiyar-9095293/"&gt;https://indianexpress.com/article/political-pulse/ram-mandir-lk-advani-vinay-katiyar-9095293/&lt;/a&gt;</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Gujarat CM flags off flag poles to be sent to Ayodhya temple</td>
      <td>&lt;a href="https://indianexpress.com/article/cities/ahmedabad/gujarat-cm-flags-off-flag-poles-to-be-sent-to-ayodhya-temple-9096885/"&gt;https://indianexpress.com/article/cities/ahmedabad/gujarat-cm-flags-off-flag-poles-to-be-sent-to-ayodhya-temple-9096885/&lt;/a&gt;</td>
    </tr>
    <tr>
      <th>2</th>
      <td>India’s Hindu “Emperor” Wants a Third Term</td>
      <td>&lt;a href="https://www.project-syndicate.org/commentary/india-2024-election-bjp-focus-on-modi-hindu-nationalist-credentials-by-shashi-tharoor-2024-01"&gt;https://www.project-syndicate.org/commentary/india-2024-election-bjp-focus-on-modi-hindu-nationalist-credentials-by-shashi-tharoor-2024-01&lt;/a&gt;</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Travel demand, hotel bookings surge in Ayodhya ahead of Ram temple inauguration</td>
      <td>&lt;a href="https://www.moneycontrol.com/news/trends/travel/travel-demand-hotel-bookings-surge-in-ayodhya-ahead-of-ram-temple-inauguration-12003961.html"&gt;https://www.moneycontrol.com/news/trends/travel/travel-demand-hotel-bookings-surge-in-ayodhya-ahead-of-ram-temple-inauguration-12003961.html&lt;/a&gt;</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Worshipping cow means worshipping 33 crore gods, says MP CM</td>
      <td>&lt;a href="https://indianexpress.com/article/india/worshipping-cow-means-worshipping-33-crore-gods-says-mp-cm-9095556/"&gt;https://indianexpress.com/article/india/worshipping-cow-means-worshipping-33-crore-gods-says-mp-cm-9095556/&lt;/a&gt;</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Will urge US Ambassador to open consulate in Bangalore soon: EAM S Jaishankar</td>
      <td>&lt;a href="https://indianexpress.com/article/cities/bangalore/jaishankar-us-ambassador-bangalore-consulate-9097162/"&gt;https://indianexpress.com/article/cities/bangalore/jaishankar-us-ambassador-bangalore-consulate-9097162/&lt;/a&gt;</td>
    </tr>
  </tbody>
</table>