<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>'BJP doesn't have lease of Ram Mandir, it belongs to entire nation,' says former Madhya Pradesh CM Kamal Nath</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Temple towns emerge as travel hotspots, Ayodhya to further boost spiritual tourism</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Woman To Break 32-Year-Long Maun Vrat After Ram Temple Inauguration</td>
    </tr>
  </tbody>
</table>